
.subtitulo__inicio{
    text-align: center;
    background-color: black;
    color: brown;
    font-family: Courier New, monospace;
}

.lista__inicio{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: rgb(143, 143, 143);
    font-family: Courier New, monospace;
}

